.headerText {
  font-size: 16px;
  font-weight: 600;
  color: black;
  cursor: pointer;
  position: relative; /* Needed for the underline animation */
}

.headerText::after {
  content: "";
  position: absolute;
  bottom: -3px; /* Adjust this value to control the distance of the underline from text */
  left: 0;
  width: 0;
  height: 2px; /* Adjust this value to control the thickness of the underline */
  background-color: red;
  transition: width 0.9s ease; /* Control the speed of the underline animation */
}

.headerText:hover {
  color: red;
}

.headerText:hover::after {
  width: 100%;
}
.main {
  box-shadow: 0px 0px 20px #00000040;
  margin: 0px;
  padding: 0px;
}
.drawerLink {
  font-size: 16px;
  font-weight: 600px;
  color: #818181;
  cursor: pointer;
  margin: 25px 0px;
  transition: color 0.3s ease; /* Smooth transition effect */
  will-change: white;
}
.drawerLink:hover {
  color: white;
}
